/*body            { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}*/
/*@import url(http://fonts.googleapis.com/css?family=Rubic:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Nunito:400,300,700);*/
@import url(http://fonts.googleapis.com/css?family=Nuli:400,300,700);
body  { font-family: "Nuli", sans-serif!important; }
h2, h3, h4, h5   { font-family: "Nuli", sans-serif!important; }
a, h2       { color: #9CBA7F; }
h1, h2          { margin: 0; }
h2              { border-bottom: 2px solid #eee; }
h1              { font-size: 7em !important;  }
h2              { font-size: 12pt; }


.jumbotron {
    /* add bootstrap jumbotron background image */
    background: url("/static/images/header_plantmap.jpg");
    /* change bootstrap jumbotron text color */
    color:#303030 !important;
    font-weight:bold!important ;
    background-size: auto 320%;
    font-family: "Nunito", sans-serif!important;
    height:100px
    border-radius: 2px!important;
}
   



table.dataframe, .dataframe th, .dataframe td {
  border: none;
  border-bottom: 1px solid #C8C8C8;
  text-align:left;
  padding: 3px;
  margin-bottom: 10px;
  font-size: 10pt;
  margin:0px !important;
  table-layout:fixed;
}


hr {
margin-left: auto;
margin-right: auto;
height: 8px !important;
background-color:#666;
}
