<!bootstrap-3.3.6/docs/DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../bootstrap-3.3.6/docs/favicon.ico">

    <title>rna.MAP: Complex View</title>

    <link href="../static/styles/test.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="../static/styles//bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../static/styles//bootstrap-theme.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../static/styles/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/styles/theme.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../static/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-rnp navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">rna.MAP</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/download">Download</a></li>
            <!--
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
            -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="theme">
        <h1>rna.MAP: Complex View</h1>
        <p> 
            Ribonucleoprotein Complex Map
        </p>
      </div>

      <div class="page-header">
        <h3>Search for a protein</h3>
      </div>
    <form method="POST" action="/search">
        {{ form.hidden_tag() }}
        {{ form.listOfGenenames.label }} {{ form.listOfGenenames(size=50) }}
        <br>
        <br>
        <!--
        {{ form.enrichment.label }} {{ form.enrichment(size=50) }}
        <br/>
        <br/>
        -->
        {{ form.protein.label }} {{ form.protein(size=50) }}
        <br/>
        <br/>
        {{ form.rnp_select.label }} {{ form.rnp_select() }}
        <br/>
        <br/>
        {{ form.submit }}
    </form>
 

    {% if error %}
        <h3>{{error}}</h3>
    {% endif %}

<ul>
<h3>
    Complex: {{ comp.complex_link()|safe }}
    {% if comp.is_rnp_select() %}
        &nbsp <span class="label label-danger">RNP Select</span>
        <button class="btn btn-default btn-xs" onclick="rnpSelectFunction()">?</button>
        <script>
        function rnpSelectFunction() {
            alert("RNP Select is a class of ribonucleoprotein complexes in which there is ample evidence in chromatography data of being an RNP \n\n To be considered as an RNP Select complex, a complex needs to pass three requirements: \n\n 1) >50% of subunits are annotated with either High Throughput, Low Throughput or DIFFRAC (FDR <= 0.05) \n\n 2) Average correlation of chromatography profiles for complex subunits > 0.75 \n\n 3) >50% of subunits have a DIFFRAC FDR <= 0.5 ");
        }
        </script>                                                    
    {% endif %}
</h3>
<h3>
    RNP Evidence:
    {% if comp.rnp_label == 'ht' %}
        <a href="#" class="label label-info" data-toggle="tooltip" title="High Throughput"> High Throughput </a> &nbsp 
    {% elif comp.rnp_label == 'rnabinding' %}
        <a href="#" class="label label-primary" data-toggle="tooltip" title="Low Throughput"> Low Throughput</a> &nbsp 
    {% elif comp.rnp_label == 'ht_rnabinding' %}
        <a href="#" class="label label-primary" data-toggle="tooltip" title="Low Throughput"> Low Throughput</a> &nbsp
        <a href="#" class="label label-info" data-toggle="tooltip" title="High Throughput"> High Throughput </a> &nbsp 
    {% elif comp.rnp_label == 'sign_ht_rnabinding' %}
        <a href="#" class="label label-success" data-toggle="tooltip" title="DIFFRAC"> DIFFRAC </a>         &nbsp
        <a href="#" class="label label-primary" data-toggle="tooltip" title="Low Throughput"> Low Throughput</a> &nbsp 
        <a href="#" class="label label-info" data-toggle="tooltip" title="High Throughput"> High Throughput </a> &nbsp
    {% elif comp.rnp_label == 'sign_ht' %}
        <a href="#" class="label label-info" data-toggle="tooltip" title="High Throughput"> High Throughput </a> &nbsp 
        <a href="#" class="label label-success" data-toggle="tooltip" title="DIFFRAC"> DIFFRAC </a>         &nbsp
    {% elif comp.rnp_label == 'sign' or comp.rnp_label == 'sign20_08corr' %}
        <a href="#" class="label label-success" data-toggle="tooltip" title="DIFFRAC"> DIFFRAC </a>         &nbsp
    {% endif %}
    <button class="btn btn-default btn-xs" onclick="rnpEvidenceFunction()">?</button>
    <script>
    function rnpEvidenceFunction() {
        alert("Ribonucleoprotein complex evidence: \n\n A complex has >50% of protein subunits annotated with either High Throughput, Low Throughput or DIFFRAC\n\n High Throughput evidence: protein is reported in Trendel et al. 2018, Queiroz et al. 2018, Huang et al. 2018, Bao et al. 2018, Baltz et al. 2012, Beckmann et al. 2015, Kramer et al. 2014, Castello et al. 2012, Castello et al. 2016, Conrad et al. 2016_chr or Conrad et al. 2016 (see references)\n\n Low Throughput evidence: protein is annotated as an ribonucleoprotein in Uniprot keywords or RNA Binding in Gene Ontology\n\n DIFFRAC evidence: protein has DIFFRAC FDR <= 0.05");
    }
    </script>                                                    
</h3>

<a href="#Proteins" class="btn btn-default" data-toggle="collapse">Proteins</a>
<div id="Proteins" class="collapse in">
    <br>
    <div align='right'>
        <span class="label label-success">&nbsp&nbsp</span> = DIFFRAC &nbsp
        <span class="label label-primary">&nbsp&nbsp</span> = Low Throughput &nbsp
        <span class="label label-info">&nbsp&nbsp</span> = High Throughput  &nbsp
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Genename</th>
            <th>Complexes</th>
            <th>Protein Name</th>
            <th style="width: 30%">RBP Evidence 
                <button class="btn btn-default btn-xs" onclick="rbpEvidenceFunction()">?</button>
                <script>
                function rbpEvidenceFunction() {
                    alert("RNA binding protein evidence: \n\n High Throughput evidence: protein is reported in Trendel et al. 2018, Queiroz et al. 2018, Huang et al. 2018, Bao et al. 2018, Baltz et al. 2012, Beckmann et al. 2015, Kramer et al. 2014, Castello et al. 2012, Castello et al. 2016, Conrad et al. 2016_chr or Conrad et al. 2016 (see references)\n\n Low Throughput evidence: protein is annotated as an ribonucleoprotein in Uniprot keywords or RNA Binding in Gene Ontology\n\n DIFFRAC evidence: protein has DIFFRAC FDR <= 0.05\n\n DIFFRAC50 evidence: protein has a DIFFRAC FDR <= 0.5");
                }
                </script>                                                    
            
            </th>
            <th>Links</th>
        </tr>
        </thead>
        <tbody>
        {% for prot in comp.proteinsOrderedByEvidence() %}
            <tr>
                <td>{{ prot.genename() }}</td>
                <td>
                    {% for comp_p in prot.complexes %}
                        {% if comp_p.is_rnp() %}
                            {{ comp_p.complex_link()|safe }}
                        {% endif %}
                    {% else %}
                    {% endfor %}
                </td>
                <td> {{prot.proteinname}}</td>
                <td> 
                    {% for evidence in prot.rbp_evidences %}
                        {% if 'low throughput' in evidence.evidence_type %}
                            <a href="#" class="label label-primary" data-toggle="tooltip" title={{evidence.evidence}}>&nbsp&nbsp</a>
                        {% elif 'diffrac' == evidence.evidence_type %}
                            <a href="#" class="label label-success" data-toggle="tooltip" title={{evidence.evidence}}>&nbsp&nbsp</a>
                        {% elif 'high throughput' in evidence.evidence_type %}
                            <a href="#" class="label label-info" data-toggle="tooltip" title={{evidence.evidence}}>&nbsp&nbsp</a>
                        {% else %}
                        {% endif %}
                    {% endfor %}
                    {% for rbp_stat in prot.rbp_stats%}
                        {% if rbp_stat.is_diffrac_50() %}
                            <a href="#" class="label label-success" data-toggle="tooltip" title='DIFFRAC50'>50</a>
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ prot.uniprot_link()|safe }} </td>
            </tr>
        {% else %}
            <em> No proteins</em>
        {% endfor %}
        </tbody>
    </table>
</div>


<!--
<br>
<br>
<a href="#Enrichments" class="btn btn-default" data-toggle="collapse">Enrichments</a>
<div id="Enrichments" class="collapse">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Term ID</th>
            <th>Corrected Pval</th>
            <th>Fraction Complex Coverage</th>
            <th>Proteins</th>
            <th>Term Name</th>
        </tr>
        </thead>
        <tbody>
        {% for enrichment in comp.enrichments %}
            <tr>
                <td>&nbsp {{ enrichment.term_id|safe }}</td>
                <td> {{ enrichment.corr_pval|safe }}</td>
                <td> {{ enrichment.qandt_by_q|safe }}</td>
                <td>
                    {% for protein in enrichment.get_proteins() %}
                        {{ protein.genename() }}
                    {% else %}
                        <em> No proteins</em>
                    {% endfor %}
                </td>
                <td> {{ enrichment.t_name|safe }}</td>
            </tr>
        {% else %}
            &nbsp    <em> No enrichments</em>
        {% endfor %}
        </tbody>
    </table>
</div>

<br>
<br>
<a href="#Edges" class="btn btn-default" data-toggle="collapse">Edges</a>
<div id="Edges" class="collapse">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Protein 1 </th>
            <th>Protein 2 </th>
            <th>Score </th>
            <th>Evidence <button class="btn btn-default btn-xs" onclick="evidenceFunction()">?</button>
            <script>
                function evidenceFunction() {
                    alert("Edge Evidence Key\n\nbioplex = bait-prey relationship in Bioplex, bait(s) in parentheses\n\nhein = bait-prey relationship in Hein et al., bait(s) in parentheses\n\nbioplex_prey = prey-prey relationship in Bioplex\n\nhein_prey = prey-prey relationship in Hein et al.\n\nfraction = co-elution relationship in Wan et al.\n\nNote: Evidence listed does not necessiarily mean positive evidence but rather only means there is data for this particular pair of proteins");
                }
            </script>                                                    
            </th>

        </tr>
        </thead>
        <tbody>
        {% for edge in comp.edges() %}
            <tr>
                <td>&nbsp {{ edge.get_proteins()[0].genename() }}</td>
                <td>&nbsp {{ edge.get_proteins()[1].genename() }}</td>
                <td> {{ edge.score|safe }}</td>
                <td>
                    {% for evidence in edge.evidences %}
                        {{ evidence.evidence_type|safe }} &nbsp &nbsp 
                    {% else %}
                        <em> No Evidences</em>
                    {% endfor %}
                </td>
            </tr>
        {% else %}
            &nbsp    <em> No edges</em>
        {% endfor %}
        </tbody>
    </table>
</div>

-->

<br>
<br>
<a href="#Images" class="btn btn-default" data-toggle="collapse">Images</a>
<div id="Images" class="collapse">
<br>
    <button class="btn btn-default btn-xs" onclick="imageFunction()">?</button>
    <script>
    function imageFunction() {
    alert("Sparkline plots show elution profiles for both control and RNAse treated samples for given complex.\n\nThe y-axis of each protein's plot is the measured abundance in each size exclusion chromatography fraction. \n\n");
    }
    </script>                                                    
<br>
Click to enlarge
<br>
<a href="/static/images/sparklines/Anna_HEK_SEC_020118_rnaseA_corum_humap_{{comp.complex_id}}-1.png" target="_blank">
    <!-- <img src="/static/images/sparklines/Anna_HEK_SEC_020118_rnaseA_corum_humap_{{comp.complex_id}}-1.png" alt="Sparklines" width=100% height=100%> -->
<img src="/static/images/sparklines/Anna_HEK_SEC_020118_rnaseA_corum_humap_{{comp.complex_id}}-1.png" alt="Sparklines">
</div>

<br>

</ul>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../static/js/jquery.min.js"><\/script>')</script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/js/ie10-viewport-bug-workaround.js"></script>
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
  </body>
</html>

