<!bootstrap-3.3.6/docs/DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../bootstrap-3.3.6/docs/favicon.ico">

    <title>Human Protein Complex Map: Complex View</title>

    <link href="../static/styles/test.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="../static/styles//bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../static/styles//bootstrap-theme.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../static/styles/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/styles/theme.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../static/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Human Protein Complex Map</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="theme">
        <h1>Human Protein Complex Map: Complex View</h1>
        <p> 
            Proteins don't work alone.  Find out what other proteins your favorite protein works with.
        </p>
      </div>

      <div class="page-header">
        <h3>Search for a protein</h3>
      </div>
    <form method="POST" action="/search">
        {{ form.hidden_tag() }}
        {{ form.genename.label }} {{ form.genename(size=50) }}
        <br>
        <br>
        {{ form.enrichment.label }} {{ form.enrichment(size=50) }}
        <br/>
        <br/>
        {{ form.protein.label }} {{ form.protein(size=50) }}
        <br/>
        <br/>
        {{ form.submit }}
    </form>
 

<ul>

{% for comp in complexes %}
    <h3>Complex: {{ comp.complex_link()|safe }}</h3>
    <a href="#Proteins" class="btn btn-default" data-toggle="collapse">Proteins</a>
    <div id="Proteins" class="collapse in">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Genename</th>
                <th>Complexes</th>
                <th>Protein Name</th>
            </tr>
            </thead>
            <tbody>
            {% for prot in comp.proteins %}
                <tr>
                    <td>{{ prot.uniprot_link()|safe }}</td>
                    <td>
                        {% for comp in prot.complexes %}
                            {{ comp.complex_link()|safe }}
                        {% else %}
                            <em> No complexes</em>
                        {% endfor %}
                    </td>
                    <td> {{prot.proteinname}}</td>
                </tr>
            {% else %}
                <em> No proteins</em>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <br>
    <a href="#Enrichments" class="btn btn-default" data-toggle="collapse">Enrichments</a>
    <div id="Enrichments" class="collapse">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Term ID</th>
                <th>Corrected Pval</th>
                <th>Fraction Complex Coverage</th>
                <th>Proteins</th>
                <th>Term Name</th>
            </tr>
            </thead>
            <tbody>
            {% for enrichment in comp.enrichments %}
                <tr>
                    <td>&nbsp {{ enrichment.term_id|safe }}</td>
                    <td> {{ enrichment.corr_pval|safe }}</td>
                    <td> {{ enrichment.qandt_by_q|safe }}</td>
                    <td>
                        {% for protein in enrichment.get_proteins() %}
                            {{ protein.uniprot_link()|safe }}
                        {% else %}
                            <em> No proteins</em>
                        {% endfor %}
                    </td>
                    <td> {{ enrichment.t_name|safe }}</td>
                </tr>
            {% else %}
                &nbsp    <em> No enrichments</em>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <br>

    <a href="#Edges" class="btn btn-default" data-toggle="collapse">Edges</a>
    <div id="Edges" class="collapse">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Protein 1 </th>
                <th>Protein 2 </th>
                <th>Score </th>
                <th>Evidence </th>
            </tr>
            </thead>
            <tbody>
            {% for edge in comp.edges() %}
                <tr>
                    <td>&nbsp {{ edge.get_proteins()[0].uniprot_link()|safe }}</td>
                    <td>&nbsp {{ edge.get_proteins()[1].uniprot_link()|safe }}</td>
                    <td> {{ edge.score|safe }}</td>
                    <td>
                        {% for evidence in edge.evidences %}
                            {{ evidence.evidence_type|safe }} &nbsp &nbsp 
                        {% else %}
                            <em> No Evidences</em>
                        {% endfor %}
                    </td>
                </tr>
            {% else %}
                &nbsp    <em> No edges</em>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <br>
{% else %}
    <em>No complexes</em>
{% endfor %}

</ul>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../static/js/jquery.min.js"><\/script>')</script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>

