<!bootstrap-3.3.6/docs/DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../bootstrap-3.3.6/docs/favicon.ico">

    <title>hu.MAP: Download</title>

    <link href="../static/styles/test.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="../static/styles//bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../static/styles//bootstrap-theme.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../static/styles/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/styles/theme.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../static/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">hu.MAP</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li class="active"><a href="/download">Download</a></li>
            <!--
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
            -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>hu.MAP</h1>
        <p> 
            Human Protein Complex Map
        </p>
      </div>


      <div class="page-header">
        <h1>Download</h1>
      </div>
      <h4>Complex Map Files</h4>
      <ul>
          <li><a href="/static/downloads/clusters.txt" target="_blank">Protein Complex Map</a>
              <ul>
                  <li>Description: Complexes generated from two stage clustering of fully intergrated protein interaction network</li>
                  <li>Format: geneid geneid geneid ... (one complex per line)</li>
              </ul>                                                                            
          </li>
          <li><a href="/static/downloads/pairsWprob.txt" target="_blank">Protein Interaction Network with probability scores</a>
              <ul>
                  <li>Description: Co-complex protein pairs that are observed in the protein complex map with the corresponding svm probability score. </li>
                  <li>Format: geneid [tab] geneid [tab] score</li>
              </ul>
          </li>
      </ul>
      <br>
      <h4>Additional database input files</h4>
      <ul>
          <li><a href="/static/downloads/nodeTable.txt" target="_blank">Node Table</a>
              <ul>
                  <li>Description: Cluster ids and additional identifiers for proteins in the complex map</li>
                  <li>Format: acc,clustid,clustid_key,genename,key(geneid),proteinname,uniprot_link</li>
              </ul>
          </li>
          <li><a href="/static/downloads/enrichment.txt" target="_blank">Enrichment Table</a>
              <ul>
                  <li>Description: Output from gprofiler for each complex, FDR-corrected hypergeometric p <= 0.05 </li>
                  <li>Format: complex_id, corr_pval, t_count, q_count, qandt_count, qandt_by_q, qandt_by_t, term_id, t_type, t_group, t_name, depth_in_group, qandt_list</li>
              </ul>
          </li>
          <li><a href="/static/downloads/edges.txt" target="_blank">Edge Table</a>
              <ul>
                  <li>Description: List of edges in the complex map with svm probability score and boolean values for each evidence type determining support for the edge</li>
                  <li>Format: id1   score   fractions   bioplex hein    bioplex_prey    hein_prey </li>
              </ul>
          </li>
      </ul>
      <br>
      <h4>Cytoscape Network</h4>
      <ul>
          <li><a href="/static/downloads/human_protein_complex_map.cys" target="_blank">Cytoscape Network</a></li>
      </ul>
      <br>
      <h4>Test and training data</h4>
      <ul>
          <li><a href="/static/downloads/train_complexes.txt" target="_blank">Train Complexes</a>
              <ul>
                  <li>Description: List of training complexes used in protein complex discovery pipeline</li>
                  <li>Format: geneid geneid geneid ... (one complex per line)</li>
              </ul>
          </li>
          <li><a href="/static/downloads/test_complexes.txt" target="_blank">Test Complexes</a>
              <ul>
                  <li>Description: List of test complexes used in protein complex discovery pipeline</li>
                  <li>Format: geneid geneid geneid ... (one complex per line)</li>
              </ul>
          </li>
          <li><a href="/static/downloads/train_ppis.txt" target="_blank">Train Positive PPIs</a>
              <ul>
                  <li>Description: List of train postive ppis used in protein complex discovery pipeline</li>
                  <li>Format: geneid geneid </li>
              </ul>
          </li>
          <li><a href="/static/downloads/train_neg_ppis.txt" target="_blank">Train Negative PPIs</a>
              <ul>
                  <li>Description: List of train negative ppis used in protein complex discovery pipeline</li>
                  <li>Format: geneid geneid </li>
              </ul>
          </li>
          <li><a href="/static/downloads/test_ppis.txt" target="_blank">Test Positive PPIs</a>
              <ul>
                  <li>Description: List of test positive ppis used in protein complex discovery pipeline</li>
                  <li>Format: geneid geneid </li>
              </ul>
          </li>
          <li><a href="/static/downloads/test_neg_ppis.txt" target="_blank">Test Negative PPIs</a>
              <ul>
                  <li>Description: List of test negative ppis used in protein complex discovery pipeline</li>
                  <li>Format: geneid geneid </li>
              </ul>
          </li>
      </ul>
      <br>
      <h4>Feature Matrix</h4>
      <ul>
          <li><a href="/static/downloads/feature_matrix.txt.gz" target="_blank">Feature Matrix (gz)</a>
              <ul>
                  <li>Description: Table of features from Wan et al., Hein et al. and BioPlex for pairs of proteins. Also includes hypergeometric matrix model features</li>
                  <li>Format: protein_id,protein_id,[features]</li>
              </ul>
          </li>
      </ul>
      <br>
      <h4>Code</h4>
      <ul>
          <li><a href="https://github.com/marcottelab/protein_complex_maps_public" target="_blank">Protein Complex Maps (GitHub)</a>
          </li>
      </ul>

      <br>
      <h4> License </h4>
      <ul>
          <li><a href="http://www.dancohen.org/2013/11/26/cc0-by/" target="_blank">CC0 (+BY)</a>
          </li>
          <li>
          Data associated with this website are free to download and share.  They are governed by the <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank">Creative Commons Zero license</a>, which means that they are a part of the public domain, and every use of them is allowed.  If you make extensive use of data from this data set, please credit the authors and when appropriate the authors of the source data (see <a href="/about">about</a> for references).
          </li>
      </ul>
      <br>
      

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../static/js/jquery.min.js"><\/script>')</script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
