<!bootstrap-3.3.6/docs/DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../bootstrap-3.3.6/docs/favicon.ico">

    <title>hu.MAP 2.0</title>

    <link href="../static/styles/test.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="../static/styles//bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../static/styles//bootstrap-theme.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../static/styles/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/styles/theme.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../static/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">hu.MAP 2.0</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/download">Download</a></li>
            <!--
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
            -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>hu.MAP 2.0</h1>
        <p> 
            Human Protein Complex Map
        </p>
      </div>


      <div class="page-header">
        <h1>Search for a protein</h1>
      </div>
    <!--kdrew: problem with stale CSRF tokens, this prints error message
    {% if form.errors %}
        {{ form.errors }}
    {% endif %}
    -->

    



    <form method="POST" action="/search">
        {{ form.hidden_tag() }}
        {{ form.listOfGenenames.label }} {{ form.listOfGenenames(size=50) }}
        <br>
        <br>
        {{ form.enrichment.label }} {{ form.enrichment(size=50) }}
        <br/>
        <br/>
        {{ form.protein.label }} {{ form.protein(size=50) }}
        <br/>
        <br/>
        {{ form.submit }}
    </form>

    <p>

    {% if error %}
        <h3>{{error}}</h3>
    {% endif %}

    <ul>

    {% for comp in complexes %}
        <h3>Complex: {{ comp.complex_link()|safe }} </h3>
        <h4>Confidence: 
            {% if comp.top_rank == 1 %}
                <a href="#" class="label label-success" data-toggle="tooltip" title="Extremely High">Extremely High</a> &nbsp 
            {% elif comp.top_rank == 2 %}
                <a href="#" class="label label-primary" data-toggle="tooltip" title="Very High">Very High</a> &nbsp 
            {% elif comp.top_rank == 3 %}
                <a href="#" class="label label-info" data-toggle="tooltip" title="High">High</a> &nbsp 
            {% elif comp.top_rank == 4 %}
                <a href="#" class="label label-warning" data-toggle="tooltip" title="Medium High">Medium High</a> &nbsp 
            {% elif comp.top_rank == 5 %}
                <a href="#" class="label label-default" data-toggle="tooltip" title="Medium">Medium</a> &nbsp 
            {% endif %}
            <button class="btn btn-default btn-xs" onclick="complexConfidence()">?</button>
            <script>
                function complexConfidence() {
                            alert("Complex Confidence");
                                }
            </script>  

        </h4>
        <h4>
            Input enrichment p-value: {{pvalue_dict[comp]}}
        </h4>

        <h3>Proteins:</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Genename</th>
                <th>Complexes</th>
                <th>Protein Name</th>
                <th>Links</th>
            </tr>
        </thead>
        <tbody>
            <!-- kdrew: list searched genes first -->
            {% for prot in comp.proteins %}
                {% if prot.id in prot_ids %}
                    <tr>
                        <td><strong>{{ prot.genename() }}</strong></td>
                        <td>
                        {% for comp in prot.complexes %}
                            {{ comp.complex_link()|safe }}
                        {% else %}
                        <!--
                            <em> No complexes</em>
                          -->
                        {% endfor %}
                        </td>
                        <td> {{prot.proteinname}}</td>
                        <td>{{ prot.uniprot_link()|safe }} &nbsp {{ prot.ncbi_link()|safe }}</td>
                    </tr>
                {% endif %}
            {% else %}
                <em> No proteins</em>
            {% endfor %}
            <!-- kdrew: list the non-searched genes -->
            {% for prot in comp.proteins %}
                {% if prot.id not in prot_ids %}
                    <tr>
                        <td>{{ prot.genename() }}</td>
                        <td>
                            {% for comp in prot.complexes %}
                                {{ comp.complex_link()|safe }}
                            {% else %}
                            <!--
                                <em> No complexes</em>
                              -->
                            {% endfor %}
                        </td>
                        <td> {{prot.proteinname}}</td>
                        <td>{{ prot.uniprot_link()|safe }} &nbsp {{ prot.ncbi_link()|safe }}</td>
                    </tr>
                {% endif %}
            {% else %}
                <em> No proteins</em>
            {% endfor %}
            </tbody>
        </table>
        <br>
    {% else %}
    <!--
        <em>No complexes</em>
      -->
    {% endfor %}

    </ul>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../static/js/jquery.min.js"><\/script>')</script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
