<!bootstrap-3.3.6/docs/DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../bootstrap-3.3.6/docs/favicon.ico">

    <title>rna.MAP</title>

    <link href="../static/styles/test.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="../static/styles//bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../static/styles//bootstrap-theme.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../static/styles/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/styles/theme.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../static/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-rnp navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">rna.MAP</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/download">Download</a></li>
            <!--
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
            -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>rna.MAP</h1>
        <p> 
            Ribonucleoprotein Complex Map
        </p>
      </div>


      <div class="page-header">
        <h1>Search for a protein</h1>
      </div>
    <!--kdrew: problem with stale CSRF tokens, this prints error message
    {% if form.errors %}
        {{ form.errors }}
    {% endif %}
    -->

    



    <form method=post action="/search" >
        {{ form.hidden_tag() }}
        {{ form.listOfGenenames.label }} {{ form.listOfGenenames(size=50) }}
        <br>
        <br>
        <!--
        {{ form.enrichment.label }} {{ form.enrichment(size=50) }}
        <br/>
        <br/>
        -->
        {{ form.protein.label }} {{ form.protein(size=50) }}
        <br/>
        <br/>
        {{ form.rnp_select.label }} {{ form.rnp_select() }}
        <br/>
        <br/>
        {{ form.submit }}
    </form>

    <p>

    {% if error %}
        <h3>{{error}}</h3>
    {% endif %}

    <ul>
    <div align='right'>
        <span class="label label-success">&nbsp</span> = DIFFRAC &nbsp
        <span class="label label-primary">&nbsp</span> = Low Throughput &nbsp
        <span class="label label-info">&nbsp</span> = High Throughput  &nbsp
    </div>

    <table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 8%">Complex</th>
            <th style="width: 60%">Genes</th>
            <th>Status
                <button class="btn btn-default btn-xs" onclick="rnpSelectFunction()">?</button>
                <script>
                function rnpSelectFunction() {
                    alert("RNP Select is a class of ribonucleoprotein complexes in which there is ample evidence in chromatography data of being an RNP \n\n To be considered as an RNP Select complex, a complex needs to pass three requirements: \n\n 1) >50% of subunits are annotated with either High Throughput, Low Throughput or DIFFRAC (FDR <= 0.05) \n\n 2) Average correlation of chromatography profiles for complex subunits > 0.75 \n\n 3) >50% of subunits have a DIFFRAC FDR <= 0.5 ");
                }
                </script>                                                    
            </th>
            <th>RNP Complex Evidence
                <button class="btn btn-default btn-xs" onclick="rnpEvidenceFunction()">?</button>
                <script>
                function rnpEvidenceFunction() {
                    alert("Ribonucleoprotein complex evidence: \n\n A complex has >50% of protein subunits annotated with either High Throughput, Low Throughput or DIFFRAC\n\n High Throughput evidence: protein is reported in Trendel et al. 2018, Queiroz et al. 2018, Huang et al. 2018, Bao et al. 2018, Baltz et al. 2012, Beckmann et al. 2015, Kramer et al. 2014, Castello et al. 2012, Castello et al. 2016, Conrad et al. 2016_chr or Conrad et al. 2016 (see references)\n\n Low Throughput evidence: protein is annotated as an ribonucleoprotein in Uniprot keywords or RNA Binding in Gene Ontology\n\n DIFFRAC evidence: protein has DIFFRAC FDR <= 0.05");
                }
                </script>                                                    
            </th>
        </tr>
    </thead>
    <tbody>
    {% for comp in complexes %}
        {% if comp.is_rnp() %}
        <tr>
            <td>
                {{ comp.complex_link()|safe }}
            </td>
            <td>
                <!-- kdrew: list searched genes first -->
                {% for prot in comp.proteins %}
                    {% if prot.id in prot_ids %}
                        <strong>{{ prot.genename() }}</strong> &nbsp
                        
                            <!--
                            {% for comp_p in prot.complexes %}
                                {% if comp_p.rnp_label != '' %}
                                    {{ comp_p.complex_link()|safe }}
                                {% endif %}
                            {% else %}
                                <em> No complexes</em>
                            {% endfor %}
                            <td> {{prot.proteinname}}</td>
                            <td>{{ prot.uniprot_link()|safe }}</td>
                            -->
                    {% endif %}
                {% else %}
                    <em> No proteins</em>
                {% endfor %}
                <!-- kdrew: list the non-searched genes -->
                {% for prot in comp.proteins %}
                    {% if prot.id not in prot_ids %}
                            {{ prot.genename() }}  &nbsp
                            <!--
                            <td>
                                {% for comp_p in prot.complexes %}
                                    {% if comp_p.rnp_label != '' %}
                                        {{ comp_p.complex_link()|safe }}
                                    {% endif %}
                                {% else %}
                                    <em> No complexes</em>
                                {% endfor %}
                            </td>
                            <td> {{prot.proteinname}}</td>
                            <td>{{ prot.uniprot_link()|safe }}</td>
                        </tr>
                                  -->
                    {% endif %}
                {% else %}
                    <em> No proteins</em>
                {% endfor %}
            </td>
            <td>
                {% if comp.is_rnp_select() %}
                    <span class="label label-danger">RNP Select</span>&nbsp
                {% endif %}
            </td>
            <td>
                {% if comp.rnp_label == 'ht' %}
                    <a href="#" class="label label-info" data-toggle="tooltip" title="High Throughput"> &nbsp </a> 
                {% elif comp.rnp_label == 'rnabinding' %}
                    <a href="#" class="label label-primary" data-toggle="tooltip" title="Low Throughput"> &nbsp </a> 
                {% elif comp.rnp_label == 'ht_rnabinding' %}
                    <a href="#" class="label label-primary" data-toggle="tooltip" title="Low Throughput"> &nbsp </a> &nbsp
                    <a href="#" class="label label-info" data-toggle="tooltip" title="High Throughput"> &nbsp </a> 
                {% elif comp.rnp_label == 'sign_ht_rnabinding' %}
                    <a href="#" class="label label-success" data-toggle="tooltip" title="DIFFRAC"> &nbsp </a>         &nbsp
                    <a href="#" class="label label-primary" data-toggle="tooltip" title="Low Throughput"> &nbsp </a>   &nbsp
                    <a href="#" class="label label-info" data-toggle="tooltip" title="High Throughput"> &nbsp </a> 
                {% elif comp.rnp_label == 'sign_ht' %}
                    <a href="#" class="label label-success" data-toggle="tooltip" title="DIFFRAC"> &nbsp </a>           &nbsp
                    <a href="#" class="label label-info" data-toggle="tooltip" title="High Throughput"> &nbsp </a> 
                {% elif comp.rnp_label == 'sign' or comp.rnp_label == 'sign20_08corr' %}
                    <a href="#" class="label label-success" data-toggle="tooltip" title="DIFFRAC"> &nbsp </a> 
                {% endif %}
            </td>
        </tr>
        {% else %}
        <!--
            <em>No complexes</em>
          -->
        {% endif %}
    {% endfor %}
                </tbody>
            </table>
            <br>

    </ul>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../static/js/jquery.min.js"><\/script>')</script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/js/ie10-viewport-bug-workaround.js"></script>
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
  </body>
</html>
