{% include 'header.html' %}


    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">plant.MAP</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/proteinquery">ProteinQuery</a></li>

            <li><a href="finder">InteractionFinder</a></li>
            <li class="active"><a href="#about">About</a></li>
            <li><a href="download">Download</a></li>
            <!--
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
            -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

{% include 'jumbotron.html' %}



      <div class="page-header">
        <h1>About</h1>
      </div>
      <p>
      Proteins interact with each other and organize themselves into macromolecular machines (ie. complexes) to carry out essential functions of the cell.  We have a good understanding of a few complexes such as the proteasome and the ribosome but currently we have an incomplete view of all protein complexes as well as their functions.  The <strong>plant.MAP</strong> attempts to address this lack of understanding by integrating several large scale protein interaction datasets to obtain the most comprehensive view of protein complexes.  
      </p>
      <br>
      <h4>Contributers</h4>
      <p>
      &nbsp Claire McWhite (<a href="http://clairemcwhite.github.io/" target="_blank">website</a>)
      <br>
       &nbsp Kevin Drew (<a href="http://ksdrew.github.io/" target="_blank">website</a>)
      <br>
      &nbsp Edward Marcotte (<a href="http://marcottelab.org" target="_blank">website</a>)
      <br>

      </p>
      <h4>Funding</h4>
      <p>
      &nbsp NIH F32 GM112495
      </p>

      <h4>Citation</h4>
      <ul>
          <li><a href="http://biorxiv.org/content/early/2016/12/07/092361" target="blank">
              Drew etG al.
              A synthesis of over 9,000 mass spectrometry experiments reveals the core set of human protein complexes
              bioRxiv 092361; doi: http://dx.doi.org/10.1101/092361 
          </a></li>
      </ul>

      <h4>References</h4>
      <ul>
          <li><a href="http://biorxiv.org/content/early/2016/12/07/092361" target="blank"> Drew et al.  A synthesis of over 9,000 mass spectrometry experiments reveals the core set of human protein complexes bioRxiv 092361; doi: http://dx.doi.org/10.1101/092361 </a></li>
          <li><a href="http://www.ncbi.nlm.nih.gov/pubmed/26344197" target="_blank">Wan, Borgeson et al. Panorama of ancient metazoan macromolecular complexes. Nature. 2015 Sep 17;525(7569):339-44. doi: 10.1038/nature14877. Epub 2015 Sep 7.</a></li>
          <li><a href="http://www.ncbi.nlm.nih.gov/pubmed/26496610" target="_blank">Hein et al. A human interactome in three quantitative dimensions organized by stoichiometries and abundances. Cell. 2015 Oct 22;163(3):712-23. doi: 10.1016/j.cell.2015.09.053. Epub 2015 Oct 22.</a></li>
          <li><a href="http://www.ncbi.nlm.nih.gov/pubmed/26186194" target="_blank">Huttlin et al. The BioPlex Network: A Systematic Exploration of the Human Interactome. Cell. 2015 Jul 16;162(2):425-40. doi: 10.1016/j.cell.2015.06.043.</a></li>
          <li><a href="https://www.ncbi.nlm.nih.gov/pubmed/27098042" target="_blank">Reimand et al. g:Profiler-a web server for functional interpretation of gene lists (2016 update). Nucleic Acids Res. 2016 Jul 8;44(W1):W83-9. doi: 10.1093/nar/gkw199.</a></li>

      </ul>
      <br>

      <h4>Contact</h4>
      &nbsp proteincomplexmap (at) gmail.com
      <br>

{% include 'footer.html' %}

