{% include 'header.html' %}


    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">plant.MAP</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="#about">About</a></li>
            <li><a href="download">Download</a></li>
          </ul>
        </div>
      </div>
    </nav>

{% include 'jumbotron.html' %}


  <div class="container theme-showcase" role="main">
      <div class="page-header">
        <strong><h3>About</h3></strong>
      </div>
      <p>
      Proteins interact with each other and organize themselves into macromolecular machines (i.e., complexes) to carry out essential functions of cells. 
      </p>
  
   
      <h5>Protein pairwise interactions and complexes</h5>
      
      <ul>
      <li>We measured stable protein-protein interactions based co-fractionation mass spectrometry of 12 taxonomically diverse plant species (and tested in a 13th species, maize)</li>
      <li>Interactions can be queried using either UniProt Entry, Entry name, gene name, or TAIR AT locus ID.</li>
      <li>Higher-order multiprotein complexes were derived by clustering the pairwise interactions, and are presented with four different levels of clustering stringency, from most restrictive (smallest clusters) to most inclusive (largest clusters)</li>
      </ul>
  
      <h5>A note on orthology:</h5>
      <ul>
      <li>As protein complexes were derived from multi-species data, they are indexed by <a href = "http://eggnogdb.embl.de">eggNOG DB</a> plant-level (virNOG) orthogroupID</li>
      <li>These orthogroups take the form ENOG411XXXX, and can be searched at the <a href = "http://eggnogdb.embl.de">eggNOG website</a></li>
      <li>Due to gene expansions since the last common ancestor of plant, each orthogroup may contain more than one protein from a species</li>
      </ul> 

      <br>For further details see the publication describing this work: 
      <ul>
          <li><a href="" target="blank">
      A pan-plant protein complex map reveals deep conservation and novel assemblies, by Claire D. McWhite, Ophelia Papoulas, Kevin Drew, Rachael M. Cox, Viviana Oldfield-June, Oliver Xiaoou Dong, Taejoon Kwon, Cuihong Wan, Mari L. Salmi, Stan J. Roux, Jr., Karen S. Browning, Z. Jeffrey Chen, Pamela C. Ronald, Edward M. Marcotte (in preparation)</a></li>
      </ul>


      <br>
      <h4>Website contributers</h4>
      <p>
      <strong>&nbsp Claire McWhite</strong>(<a href="http://clairemcwhite.github.io/" target="_blank">website</a>)
      <br>
      &nbsp Kevin Drew (<a href="http://ksdrew.github.io/" target="_blank">website</a>)
      <br>
      &nbsp Edward Marcotte (<a href="http://marcottelab.org" target="_blank">website</a>)
      <br>

      </p>

      <br>

      <h4>Contact</h4>
      &nbsp clairemcwhite (at) utexas.edu
      &nbsp marcotte (at) icmb.utexas.edu
      <br>

{% include 'footer.html' %}

