{% include 'header.html' %}

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">plant.MAP</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/download">Download</a></li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

{% include 'jumbotron.html' %}

{% include 'introheader.html' %}  

{% include 'protsearchform.html' %}

{% include 'displayquery.html' %}

    {% if error %}
        <h5>{{error}}</h5>
    {% endif %}

        <table class="table table-striped">
            <caption>Interactions</caption>                                                                                                                  <thead>
        {% include 'interactionheader.html' %}
        {% include 'interactionrow.html' %}

{% include 'footer.html' %}

