{% include 'header.html' %}

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">plant.MAP</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/download">Download</a></li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

{% include 'jumbotron.html' %}

      <div class="page-header">
        <h3>Search for a protein or orthogroup</h3>
      </div>
    <!--kdrew: problem with stale CSRF tokens, this prints error message
    {% if form.errors %}
        {{ form.errors }}
    {% endif %}
    -->

   {% include 'protsearchform.html' %}

    <p>

    {% if error %}
        <h3>{{error}}</h3>
    {% endif %}

    <ul>

        <table class="table table-striped">
            <caption>Interactions</caption>
            <thead>
            <tr>
                <th>OrthogroupID1</th>
                <th>OrthogroupID2</th>
                <th>Orthogroup annotation 1</th>
                <th>Orthogroup annotation 2</th>
                <th>CF-MS Score</th>
            </tr>
        </thead>                                                                                                                <tbody>
    <tbody>
    {% for interaction in interactions %}
        <tr>
            {% for node in interaction %}
                <td><a href = http://eggnogdb.embl.de/#/app/results?target_nogs={{ node.orthogroups.OrthogroupID }}>{{ node.orthogroups.OrthogroupID }}</a></td>{% endfor %}

            {% for node in interaction %}
                <td> {{ node.orthogroups.Orthoannots[0].EggnogAnnot }} </td>{% endfor %}
                

            <td> {{ interaction[0].ScoreVal }} </td>
          
        </tr>
    {% endfor %}
    </tbody>
    <!-- https://www.uniprot.org/uniprot/?query=I1KDU3+OR+I1M368+OR+I1M369+OR+I1M370+OR+K7KX13&sort=score -->
    <h4> Top interactions </h4>
    <!--
        <em>No complexes</em>
      -->

    </ul>

