{% include 'header.html' %}

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">plant.MAP</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/proteinquery">ProteinQuery</a></li>
            <li><a href="finder">InteractionFinder</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/download">Download</a></li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

{% include 'jumbotron.html' %}

      <div class="page-header">
        <h3>Search for a protein or orthogroup</h3>
      </div>
    <!--kdrew: problem with stale CSRF tokens, this prints error message
    {% if form.errors %}
        {{ form.errors }}
    {% endif %}
    -->


    <form method="POST" action="/search">
        {{ form.hidden_tag() }}
        {{ form.ProteinID.label }} {{ form.ProteinID(size=50, value = Input_ProteinID) }}
        <br>
        <br>
        {{ form.OrthogroupID.label }} {{ form.OrthogroupID(size=50, value = Input_OrthogroupID) }}
        <br/>
        <br/>
        {{ form.Species.label }} {{ form.Species(value = Species) }}
        <br/>
        <br/>


        {{ form.submit }}
    </form>

    <p>

    {% if error %}
        <h3>{{error}}</h3>
    {% endif %}

    <ul>

    <!-- https://www.uniprot.org/uniprot/?query=I1KDU3+OR+I1M368+OR+I1M369+OR+I1M370+OR+K7KX13&sort=score -->
    <h4> Complexes ordered from most restrictive to most inclusive. </h4>
    {% for comp in complexes reversed %}
        <!--<h2>Complex: {{ comp.clustid_set }}</h2>-->
        <table class="table table-striped">
            <caption>{{ comp.clustid_set}}</caption>
            <thead>
            <tr>
                <th>OrthogroupID</th>
                <th>Protein Name(s)</th>
                <th>Species</th>
                <th>Orthogroup Annotation</th>
                <th>Arabidopsis Gene Name(s)</th>
                <th>TAIR Link(s)</th>
                <th>Uniprot Link</th>
            </tr>
        </thead>
        <tbody>
            {% for og in comp.orthogroups %}
                <tr>
                    <td>{{ og.OrthogroupID }}</td>
                    
                        {% set protlist = [] %}
                        {% for x in og.Proteins %}
                           {% if x.Spec == Species %}
                              {% do protlist.append(x.ProteinID) %}
                           
                           {% endif %}
                        {% endfor %} 

		    <td>{{ protlist | join(' ') }}</td>

                    <td>{{ Species }}</td>
                       
                    <td>{% for x in og.Orthoannots %}
                             {{ x.EggnogAnnot }}
                        {% endfor %} </td>

                    <td>{% for x in og.Orthoannots %}
                             {{ x.ArathGenenames }}
                        {% endfor %} </td>

                    <td>{% for x in og.Orthoannots %}
                             {% set tairlist = x.Tair.split(',') %}
                                 {% for locus in tairlist %}
                                      <a href = https://www.arabidopsis.org/servlets/TairObject?type=locus&name={{ locus }}>{{ locus }}</a>
                                 {% endfor %}
                           
                        {% endfor %} </td>

                        
                    <td><a href = https://www.uniprot.org/uniprot/?query=id:{{protlist | join("+OR+id:") }}>Uniprot</a> </td>
              {% endfor %}

                </tr>
            {% else %}
                <em> No proteins</em>
            {% endfor %}
            </tbody>
        </table>
        <br>
    <!--
        <em>No complexes</em>
      -->

    </ul>
{% include 'jumbotron.html' %}

