
<table class="table table-striped">
    <caption>Interactions</caption>
    <thead>
    {% include 'interactionheader.html' %}

    </thead> 
    <tbody>
    {% for interaction in interactions %}
    <tr> 
        <td> {{ interaction[0].ScoreVal|round(4)}} </td>
    
        {% for node in interaction %}
            {% if node.orthogroups.OrthogroupID == Query.OrthogroupID %}
            <td style="font-weight:bold">
            {% else %}
            <td>
            {% endif %}
                     <form method="POST" action="/search">
                         {{ form.csrf_token() }}
                         {{ form.OrthogroupID(value = node.orthogroups.OrthogroupID, type = "hidden") }}
    
                         {{ form.submit(value = node.orthogroups.OrthogroupID)  }}
                     </form>
    
    
        </td>
        {% endfor %}
    
        {% for node in interaction %}
                <td>{% for x in node.orthogroups.Orthoannots %}
                         {{ x.ArathGenenames }}
                    {% endfor %} </td>
        {% endfor %}
    
        {% for node in interaction %}
            <td> {{ node.orthogroups.Orthoannots[0].EggnogAnnot }} </td>{% endfor %}
            
     <td>{{ Species }}</td>
    
     {% set entrylist1 = [] %}
     {% set entrylist2 = [] %}
     {% set tairlist1 = [] %}
     {% set tairlist2 = [] %}
    
               {% for x in interaction[0].orthogroups.Proteins %}
    
                       {% if x.Spec == Species %}
                          {% if x.IDtype == "Entry" %}
                             {% do entrylist1.append(x.ProteinID) %}
                          {% endif %}
                       {% endif %}
                       {% if x.IDtype == "atnum" %}
                           {% do tairlist1.append(x.ProteinID) %}
                       {% endif %}
    
    
                {% endfor %}
               {% for x in interaction[1].orthogroups.Proteins %}
    
                       {% if x.Spec == Species %}
                          {% if x.IDtype == "Entry" %}
                             {% do entrylist2.append(x.ProteinID) %}
                          {% endif %}
                       {% endif %}
                       {% if x.IDtype == "atnum" %}
                           {% do tairlist2.append(x.ProteinID) %}
                       {% endif %}
    
    
                {% endfor %}
    
                <td>{{ entrylist1 | join(' ') }}</td>
                <td>{{ entrylist2 | join(' ') }}</td>
    
                <td><a href = https://www.uniprot.org/uniprot/?query=id:{{entrylist1 | join("+OR+id:") }}>Uniprot</a> </td>
                <td><a href = https://www.uniprot.org/uniprot/?query=id:{{entrylist2 | join("+OR+id:") }}>Uniprot</a> </td>
    
    
           <td>{% for locus in tairlist1 %}
                       <a href = https://www.arabidopsis.org/servlets/TairObject?type=locus&name={{ locus }}>{{ locus }}</a>
           {% endfor %}</td>
           <td>{% for locus in tairlist2 %}
                       <a href = https://www.arabidopsis.org/servlets/TairObject?type=locus&name={{ locus }}>{{ locus }}</a>
           {% endfor %}</td>
    
        {% for node in interaction %}
            {% if node.orthogroups.OrthogroupID == current_OrthogroupID %}
            <td style="font-weight:bold">
            {% else %}
            <td>
            {% endif %}
            <a href = http://eggnogdb.embl.de/#/app/results?target_nogs={{ node.orthogroups.OrthogroupID }}>{{ node.orthogroups.OrthogroupID }}</a></td>{% endfor %}
        
    </tr>
      {% endfor %}
      </tbody>
      <!-- https://www.uniprot.org/uniprot/?query=I1KDU3+OR+I1M368+OR+I1M369+OR+I1M370+OR+K7KX13&sort=score -->
      <h4> Top interactions </h4>
      <!--
    <em>No complexes</em>
    -->
    
