<div class="page-header">

<strong><h5>This website provides access to protein complexes and stable protein interactions from <a href="">A pan-plant protein complex map reveals deep conservation and alternate assemblies</a>. 
<br><br> Try "Search complexes" find if your protein is involved in a stable protein complexes. Try "Get top interactions" to see a list of proteins that have similar co-purification to your protein, indicative of stable protein interactions.</h5></strong>


<h5>Note: the protein complexes and interactions reported here were stable enough to survive biochemical fractionation. More transient interactions (e.g. signalling interactions) are less likely to be observed in these data. 
<br><br> In "Get top interactions", CF-MS scores > 0.5 correspond to ~90% true positive rate; scores > 0.2 correspond to ~50% true positive rate.</h5>

<strong><h3>Search for a protein or orthogroup</h3></strong>
Accepted ProteinID formats include: 
<ul>
   <li><a href="https://www.uniprot.org/help/accession_numbers">Uniprot Accession </a> ex. P28769 </li>
   <li><a href="https://www.uniprot.org/help/entry_name">Uniprot Entry name</a> Entry name ex. PFD4_ARATH </li>
   <li><a href="https://www.arabidopsis.org/portals/nomenclature/guidelines.jsp#locus">TAIR</a> Locus identifier ex. AT1G02090 </li>
   <li><a href=""><i>Arabidopsis thaliana gene name</i></a> ex. COG4
   <li><a href="">Rice locus</a> ex. Os04g0551800</li>
</ul>

OrthogroupIDs are <a href="http://www.eggnogdb.embl.de">eggNOG</a> plant orthogroups ex. ENOG411DSAC ENOG411DWGM or ENOG411DWUV<br>

Select a species to switch which organism's proteins are displayed. <br> Each Orthogroup may contain multiple protein per species
</div>

