<div class="page-header">
        <strong><h3>Search for a protein or orthogroup</h3></strong>
Accepted ProteinID formats include: 
<ul>
   <li><a href="https://www.uniprot.org/help/accession_numbers">Uniprot Accession </a> ex. F4KCR6 </li>
   <li><a href="https://www.uniprot.org/help/entry_name">Uniprot Entry name</a> Entry name ex. SC13A_ARATH </li>
   <li><a href="https://www.arabidopsis.org/portals/nomenclature/guidelines.jsp#locus">TAIR</a> Locus identifier ex. AT1G02090 </li>
   <li><a href=""><i>Arabidopsis thaliana gene name</i></a> ex. COX1

   <li><a href="">Rice locus</a></li>
</ul>

OrthogroupIDs are <a href="http://www.eggnogdb.embl.de">eggNOG</a> plant orthogroups ex. ENOG411DWGM<br>

Select a species to switch which organism's proteins are displayed. <br> Each Orthogroup may contain multiple protein per species
</div>

