<div class="page-header">

<strong><h4>This website provides access to protein complexes and stable protein interactions from <a href="">A pan-plant protein complex map reveals deep conservation and alternate assemblies</a>. 
<br><br> Try "Search complexes" find if your protein is involved in a stable protein complexes. Try "Get top interactions" to see a list of proteins that have similar co-purification to your protein, indicative of stable protein interactions.</h4></strong>


<h5>Proteins interactions are of the class the survive separation across biochemical fractionation. More transient interactions like receptor-kinase will likely not be seen in this data. 
<br><br> In "Get top interactions", any top score with your query protein over score 0.2 is a good candidate for guilt-by-associate experimental follow-up. A top score over 0.5 is a strong candidate for experimental follow-up.</h5>

<strong><h3>Search for a protein or orthogroup</h3></strong>
Accepted ProteinID formats include: 
<ul>
   <li><a href="https://www.uniprot.org/help/accession_numbers">Uniprot Accession </a> ex. F4KCR6 </li>
   <li><a href="https://www.uniprot.org/help/entry_name">Uniprot Entry name</a> Entry name ex. SC13A_ARATH </li>
   <li><a href="https://www.arabidopsis.org/portals/nomenclature/guidelines.jsp#locus">TAIR</a> Locus identifier ex. AT1G02090 </li>
   <li><a href=""><i>Arabidopsis thaliana gene name</i></a> ex. COG4
   <li><a href="">Rice locus</a> ex. OS04G0424200</li>
</ul>

OrthogroupIDs are <a href="http://www.eggnogdb.embl.de">eggNOG</a> plant orthogroups ex. ENOG411DWGM<br>

Select a species to switch which organism's proteins are displayed. <br> Each Orthogroup may contain multiple protein per species
</div>

