<form method="POST" action="/search">
        {{ form.hidden_tag() }}
        {{ form.ProteinID.label }} {{ form.ProteinID(size=50, value = Input_ProteinID) }}
        <br>
        <br>
        {{ form.FullText.label }} {{ form.FullText(size = 50, value = Input_Fulltext) }}
        <br>
        <br>
        {{ form.OrthogroupID.label }} {{ form.OrthogroupID(size=50, value = Input_OrthogroupID) }}
        <br/>
        <br/>
        {{ form.Species.label }} {{ form.Species(value = Species) }}
        <br/>
        <br/>


        {{ form.submit }} <i> &larr; See protein complexes </i> <br>
        {{ form.submitinteractions }} <i> &larr; See protein interaction scores </i>
</form>
