<!bootstrap-3.3.6/docs/DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../bootstrap-3.3.6/docs/favicon.ico">

    <title>plant.MAP</title>

    <!--<link href="../static/styles/test.css" rel="stylesheet"> -->
    <link href="../static/styles/styles.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="../static/styles//bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../static/styles//bootstrap-theme.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../static/styles/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/styles/theme.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../static/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">pl.MAP</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/proteinquery">ProteinQuery</a></li>
            <li><a href="finder">InteractionFinder</a></li>

            <li><a href="/viewer">Viewer</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/download">Download</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>plant.MAP</h1>
        <p> 
            Co-Eluting Proteins in Plants
        </p>
      </div>


      <div class="page-header">

    {{ js_resources|indent(4)|safe }}

    {{ css_resources|indent(4)|safe }}


  </head>
  <body>
    <h2>Retrieve protein elutions</h2> 

    <b>This tool retrieves patterns of detection of proteins across proteomics experiments. Used the dropdown menu to see either 1) alignments of orthologs of the input proteins across all species, 2) The input proteins in their own species, or 3) orthologs of the input proteins in a different species.</b>
    <b> dropdown menu to see either 1) alignments of orthologs of the input proteins across all species, 2) The input proteins in their own species, or 3) orthologs of the input proteins in a different species.</b>
    <b>Use to 1) predict conditions for isolating a protein or complex or 2) See if proteins coelute, a prediction of stable physical contact (see about) </b>

    <p> Enter <a href="http://uniprot.org/">Uniprot</a> Accession numbers or Entry names, one per line </p>


    <form name="prot_query" id = "prot_query" method='GET'>
        <textarea cols="30" rows="10" name="proteins">{{ proteins }}</textarea>
        <br>
    <select id="simple" name="species_longform" method='GET'>
      <option>All plants</option>
      <option>Arabidopsis thaliana</option>
      <option>Brassica oleraceae</option>
      <option>Ceratopteris richardii</option>
      <option>Chlamydomonas reinhardtii</option>
      <option>Oryza sativa</option>
      <option>Selaginella moellendorfii</option>
      <option>Triticum aestivum</option>
    </select>
 
        <button type="submit">Submit</button>
    </form>

    <p>
    <b>Input protein species:</b> {{ inp_species_longform }}
    </p>

    <p>
    <b>Currently displaying data from:</b> {{ species_longform }}
    <p><i>To see data for orthologs of input protein in other species, select a different species in the above drop down menu and click submit. Due to differences in physically prepping different species for proteomics, certain proteins may be more strongly detected in different species.</i></p>

    {{ plot_script1|indent(4)|safe }}
    
    <h4>Input protein-to-Orthogroup mapping</h4> 
    {{ prot_tbl | indent(4) | safe }} 
    <h4>Orthogroup to member protein mapping in {{ species_longform }}</h4> 
    {{ group_tbl | safe }}

    <h3>Elution profiles</h3>
    <p>Black lines represent elutions of ortholog groups of proteins (see About). Colored lines represent spectral counts from individual proteins. A series of colored lines beneath a black ortholog group line signifies that the proteins are members of the same orthologous group. 

    {{ plot_div1 | safe }}

    </div>




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../static/js/jquery.min.js"><\/script>')</script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
